* {
   margin: 0;
   padding: 8px 0 0 0 ;
   font-family: sans-serif;
   color: antiquewhite;
}
body {
   background-image: url(image/one.jpg);
      background-size: cover;
      background-repeat: no-repeat; 
}
.navbar a{
   text-decoration: none;
   padding: 4px 18px;
   margin-right: 70px;
   font-size:larger;
   font-weight: 500;
   border: 2px solid whitesmoke;
   border-radius: 50px;
   
}
.navbar a:hover{
   background-color:beige;
   color: brown;
   transition: 150ms ease-in-out 0.1s;
}
.navbar {
   display: flex;
   flex-wrap: nowrap;
   justify-content: flex-end;
}
/* .hero {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
} */
