* {
   margin: 0;
   padding: 0 ;
   font-family: sans-serif;
   color: antiquewhite;
}
body {
   background-image: url(../image/one.jpg);
      background-size: cover;
      background-repeat: no-repeat; 
}
               /* navigation bar */
.navbar{
   display: flex;
   align-items: center;
   justify-content: end;
   position: fixed;
   z-index: 5;
   padding: 13px;
   background-image: url(../image/one.jpg);
   width: 100%;
}
 .navbar a{
   text-decoration: none;
   padding: 4px 21px;
   margin-right: 4rem;
   font-size:larger;
   font-weight: 500;
   border: 2px solid darksalmon;
   border-radius: 50px;  
}
.navbar a:hover{
   background-color:beige;
   color: rgb(236, 12, 12);
   transition: 150ms ease-in-out 0.1s;
}
             /* hero section  */
.hero {
   padding: 60px 0;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   font-size: large;
}
.info p{
   color: darksalmon;
   font-weight: 600;
   font-size: 55px;
   text-transform: uppercase;
   margin-bottom: 3px;
}
.button {
   padding-top: 50px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.button a{
   margin-right: 27px;
   text-decoration: none;
   padding: 5px 18px;
   font-size: larger;
   font-weight: 500;
   border: 2px solid darksalmon;
   border-radius: 50px;
}
.button a:hover {
   background-color: beige;
   color: rgb(236, 12, 12);
   transition: 150ms ease-in-out 0.1s;
}
              /* feathures section  */
              
#myfeature{
   padding: 70px 0;
}
#Features{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
   padding-top: 30px;
}
#Features p{
   text-transform: capitalize;
   text-align: center;
   text-decoration: none;
   margin-bottom: 35px;
   padding: 13px 25px;
   margin-right: 4rem;
   font-size: larger;
   font-weight: 700;
   border: 2px solid darksalmon;
   border-radius: 50px;
   background-color: beige;
   color: rgb(222, 114, 77);
}
#Features p:hover{
   color: beige;
   background-color: rgb(209, 118, 87);
   border: 2px solid beige;
   transition: 140ms ease-in-out 0.1s;
}
#first-hr{
   border-color:rgb(25, 80, 180);
   box-shadow: 0 6px 0 rgba(0, 0, 0, 0.3);
}
               /* my team  */
#myteam{
   padding: 62px 0;
}
#team{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   padding: 20px 0 0 0 ;
}
.person{
   text-align: center;
   background-image: url(../image/one.jpg);
   border-radius: 35px;
   padding: 20px;
   font-size: x-large;
   margin: 27px 53px;
}
.person:hover{
   background-image: url(../image/three.webp);
   transition: 160ms ease-in-out 0.1s;
}
.person p{
   padding-top: 10px;
   color: darksalmon;
}
.person img{
   border-radius: 50%;
}
h2{
   text-align: center;
   text-transform: capitalize;
   font-size: 45px;
   color: darksalmon;
}
           /* about section  */
#about{
   padding: 65px 0;
}
.title {
   font-size: x-large;
   color: darksalmon;
   padding-top: 15px;
}
.description{
   font-size: medium;
}
.instruction{
   margin: 25px 0 10px 100px;
}
            /* contect section  */
#faq{
   padding: 60px 0;
}
.contect{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
}
.details{
   font-size: large;
}
.details a{
   text-decoration: none;
}
.details a i{
   padding: 16px 8px;
}
.details p i{
   padding: 16px 8px;
}