* {
   margin: 0;
   padding: 9px 0 0 0 ;
   font-family: sans-serif;
   color: antiquewhite;
}
body {
   background-image: url(../image/one.jpg);
      background-size: cover;
      background-repeat: no-repeat; 
      /* height: 100vh; */
}
.navbar a{
   text-decoration: none;
   padding: 5px 18px;
   margin-right: 4rem;
   font-size:larger;
   font-weight: 500;
   border: 2px solid darksalmon;
   border-radius: 50px;  
}
.navbar a:hover{
   background-color:beige;
   color: rgb(236, 12, 12);
   transition: 150ms ease-in-out 0.1s;
}
.navbar {
   display: flex;
   flex-wrap: nowrap;
   justify-content: flex-end;
}
.hero {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   font-size: large;
}
.info p{
   color:darksalmon;
   font-weight: 600;
   font-size:3rem;;
   text-transform: uppercase;
}
.info p:nth-child(3){
   font-size: 2rem;
}
.button {
   padding-top: 60px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.button a {
   margin-right: 27px;
   text-decoration: none;
   padding: 5px 18px;
   font-size: larger;
   font-weight: 500;
   border: 2px solid darksalmon;
   border-radius: 50px;
}
.button a:hover {
   background-color: beige;
   color: rgb(236, 12, 12);
   transition: 150ms ease-in-out 0.1s;
}
